jsonlines
numpy
requests>=2.26.0
scikit_learn>=1.0.2
scipy
sentence_transformers==2.7.0
torch>=2.1.1
tqdm
rich
pytrec_eval
accelerate>=0.26.1
transformers>=4.37.2
datasets>=2.16.1
wandb
rank_bm25
faiss-cpu
nltk
mteb==1.7.27
gritlm==1.0.0
sentencepiece==0.2.0
seaborn
pandas==2.02
mteb==1.7.32